
AutoTrade.Tests/bin/Debug/AutoTrade.Tests.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Tests.pdb
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.dll
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.pdb
AutoTrade/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/obj/Debug/AutoTrade.pdb
AutoTrade/obj/Debug/AutoTrade.dll
AutoTrade/obj/Debug/AutoTrade.csprojResolveAssemblyReference.cache
AutoTrade/obj/Debug/AutoTrade.csproj.FileListAbsolute.txt
AutoTrade/bin/Debug/AutoTrade.pdb
AutoTrade/bin/Debug/AutoTrade.dll
AutoTrade/AutoTrade.Strategy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.dll
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.pdb
AutoTrade.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.csproj.FileListAbsolute.txt
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.csprojResolveAssemblyReference.cache
AutoTrade.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.DTO/bin/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.DTO/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.csproj.FileListAbsolute.txt
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.dll
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.pdb
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Strategy.dll
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Strategy.pdb
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.dll
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.pdb
AutoTrade/AutoTrade.DTO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/AutoTrade.DTO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/AutoTrade.DTO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.csprojResolveAssemblyReference.cache
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.csproj.FileListAbsolute.txt
AutoTrade/AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/AutoTrade.FeedProvider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csproj.FileListAbsolute.txt
AutoTrade/AutoTrade.DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/.vs/AutoTrade/v14/.suo
AutoTrade.Lib/bin/Debug/AutoTrade.Lib.dll
AutoTrade.Lib/bin/Debug/AutoTrade.Lib.pdb
AutoTrade.Lib/obj/Debug/AutoTrade.Lib.csproj.FileListAbsolute.txt
AutoTrade.Lib/obj/Debug/AutoTrade.Lib.dll
AutoTrade.Lib/obj/Debug/AutoTrade.Lib.pdb
AutoTrade.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Lib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Lib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Lib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade.Tests/bin/Debug/AutoTrade.dll
AutoTrade.Tests/bin/Debug/AutoTrade.DTO.dll
AutoTrade.Tests/bin/Debug/AutoTrade.DTO.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.FeedProvider.dll
AutoTrade.Tests/bin/Debug/AutoTrade.FeedProvider.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.Lib.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Lib.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.Strategy.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Strategy.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.Tests.dll.config
AutoTrade.Tests/bin/Debug/Castle.Core.dll
AutoTrade.Tests/bin/Debug/Castle.Core.xml
AutoTrade.Tests/bin/Debug/Moq.dll
AutoTrade.Tests/bin/Debug/Moq.pdb
AutoTrade.Tests/bin/Debug/Moq.xml
AutoTrade.Tests/bin/Debug/System.Threading.Tasks.Extensions.dll
AutoTrade.Tests/bin/Debug/System.Threading.Tasks.Extensions.xml
AutoTrade.Tests/bin/Debug/System.ValueTuple.dll
AutoTrade.Tests/bin/Debug/System.ValueTuple.xml
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.csprojResolveAssemblyReference.cache
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.dll.config
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.Lib.dll
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.Lib.pdb
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Lib.dll
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Lib.pdb
AutoTrade/bin/Debug/AutoTrade.DTO.dll
AutoTrade/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/bin/Debug/AutoTrade.FeedProvider.dll
AutoTrade/bin/Debug/AutoTrade.FeedProvider.pdb
AutoTrade/bin/Debug/AutoTrade.Lib.dll
AutoTrade/bin/Debug/AutoTrade.Lib.pdb
AutoTrade/bin/Debug/AutoTrade.Strategy.dll
AutoTrade/bin/Debug/AutoTrade.Strategy.pdb
