
AutoTrade.Tests/bin/Debug/AutoTrade.Tests.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Tests.pdb
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.dll
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.pdb
AutoTrade/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/obj/Debug/AutoTrade.pdb
AutoTrade/obj/Debug/AutoTrade.dll
AutoTrade/obj/Debug/AutoTrade.csprojResolveAssemblyReference.cache
AutoTrade/obj/Debug/AutoTrade.csproj.FileListAbsolute.txt
AutoTrade/bin/Debug/AutoTrade.pdb
AutoTrade/bin/Debug/AutoTrade.dll
AutoTrade/AutoTrade.Strategy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.dll
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.pdb
AutoTrade.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.csproj.FileListAbsolute.txt
AutoTrade.Tests/obj/Debug/AutoTrade.Tests.csprojResolveAssemblyReference.cache
AutoTrade.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.DTO/bin/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.DTO/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.csproj.FileListAbsolute.txt
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.dll
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.pdb
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Strategy.dll
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Strategy.pdb
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.DTO.dll
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.dll
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.pdb
AutoTrade/AutoTrade.DTO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/AutoTrade.DTO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/AutoTrade.DTO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.Strategy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.csprojResolveAssemblyReference.cache
AutoTrade/AutoTrade.Strategy/obj/Debug/AutoTrade.Strategy.csproj.FileListAbsolute.txt
AutoTrade/AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/AutoTrade.FeedProvider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade/AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csproj.FileListAbsolute.txt
AutoTrade/AutoTrade.DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade/.vs/AutoTrade/v14/.suo
AutoTrade.Lib/bin/Debug/AutoTrade.Lib.dll
AutoTrade.Lib/bin/Debug/AutoTrade.Lib.pdb
AutoTrade.Lib/obj/Debug/AutoTrade.Lib.csproj.FileListAbsolute.txt
AutoTrade.Lib/obj/Debug/AutoTrade.Lib.dll
AutoTrade.Lib/obj/Debug/AutoTrade.Lib.pdb
AutoTrade.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Lib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Lib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Lib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade.Tests/bin/Debug/AutoTrade.dll
AutoTrade.Tests/bin/Debug/AutoTrade.DTO.dll
AutoTrade.Tests/bin/Debug/AutoTrade.DTO.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.FeedProvider.dll
AutoTrade.Tests/bin/Debug/AutoTrade.FeedProvider.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.Lib.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Lib.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.Strategy.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Strategy.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.Tests.dll.config
AutoTrade.Tests/bin/Debug/Castle.Core.dll
AutoTrade.Tests/bin/Debug/Castle.Core.xml
AutoTrade.Tests/bin/Debug/Moq.dll
AutoTrade.Tests/bin/Debug/Moq.pdb
AutoTrade.Tests/bin/Debug/Moq.xml
AutoTrade.Tests/bin/Debug/System.Threading.Tasks.Extensions.dll
AutoTrade.Tests/bin/Debug/System.Threading.Tasks.Extensions.xml
AutoTrade.Tests/bin/Debug/System.ValueTuple.dll
AutoTrade.Tests/bin/Debug/System.ValueTuple.xml
AutoTrade/AutoTrade.DTO/obj/Debug/AutoTrade.DTO.csprojResolveAssemblyReference.cache
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.dll.config
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.Lib.dll
AutoTrade/AutoTrade.FeedProvider/bin/Debug/AutoTrade.Lib.pdb
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Lib.dll
AutoTrade/AutoTrade.Strategy/bin/Debug/AutoTrade.Lib.pdb
AutoTrade/bin/Debug/AutoTrade.DTO.dll
AutoTrade/bin/Debug/AutoTrade.DTO.pdb
AutoTrade/bin/Debug/AutoTrade.FeedProvider.dll
AutoTrade/bin/Debug/AutoTrade.FeedProvider.pdb
AutoTrade/bin/Debug/AutoTrade.Lib.dll
AutoTrade/bin/Debug/AutoTrade.Lib.pdb
AutoTrade/bin/Debug/AutoTrade.Strategy.dll
AutoTrade/bin/Debug/AutoTrade.Strategy.pdb
AutoTrade.Tests/bin/Debug/CommonServiceLocator.dll
AutoTrade.Tests/bin/Debug/CommonServiceLocator.pdb
AutoTrade.Tests/bin/Debug/Unity.Abstractions.dll
AutoTrade.Tests/bin/Debug/Unity.Abstractions.pdb
AutoTrade.Tests/bin/Debug/Unity.Configuration.dll
AutoTrade.Tests/bin/Debug/Unity.Configuration.pdb
AutoTrade.Tests/bin/Debug/Unity.Container.dll
AutoTrade.Tests/bin/Debug/Unity.Container.pdb
AutoTrade.Tests/bin/Debug/Unity.Interception.Configuration.dll
AutoTrade.Tests/bin/Debug/Unity.Interception.Configuration.pdb
AutoTrade.Tests/bin/Debug/Unity.Interception.dll
AutoTrade.Tests/bin/Debug/Unity.Interception.pdb
AutoTrade.Tests/bin/Debug/Unity.RegistrationByConvention.dll
AutoTrade.Tests/bin/Debug/Unity.RegistrationByConvention.pdb
AutoTrade.Tests/bin/Debug/Unity.ServiceLocation.dll
AutoTrade.Tests/bin/Debug/Unity.ServiceLocation.pdb
AutoTrade.Core/bin/Debug/AutoTrade.Core.dll
AutoTrade.Core/bin/Debug/AutoTrade.Core.pdb
AutoTrade.Core/obj/Debug/AutoTrade.Core.csproj.FileListAbsolute.txt
AutoTrade.Core/obj/Debug/AutoTrade.Core.csprojResolveAssemblyReference.cache
AutoTrade.Core/obj/Debug/AutoTrade.Core.dll
AutoTrade.Core/obj/Debug/AutoTrade.Core.pdb
AutoTrade.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.Utils/bin/Debug/AutoTrade.Utils.dll
AutoTrade/AutoTrade.Utils/bin/Debug/AutoTrade.Utils.pdb
AutoTrade/AutoTrade.Utils/obj/Debug/AutoTrade.Utils.csproj.FileListAbsolute.txt
AutoTrade/AutoTrade.Utils/obj/Debug/AutoTrade.Utils.dll
AutoTrade/AutoTrade.Utils/obj/Debug/AutoTrade.Utils.pdb
AutoTrade/obj/Debug/build.force
AutoTrade/AutoTrade.Utils/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade/AutoTrade.Utils/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade/AutoTrade.Utils/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade/AutoTrade.Utils/obj/Debug/AutoTrade.Utils.csprojResolveAssemblyReference.cache
AutoTrade/AutoTrade.Utils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.FeedProvider/bin/Debug/AutoTrade.Core.dll
AutoTrade.FeedProvider/bin/Debug/AutoTrade.Core.pdb
AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.dll
AutoTrade.FeedProvider/bin/Debug/AutoTrade.FeedProvider.pdb
AutoTrade.FeedProvider/bin/Debug/AutoTrade.Utils.dll
AutoTrade.FeedProvider/bin/Debug/AutoTrade.Utils.pdb
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csproj.FileListAbsolute.txt
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.dll
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.pdb
AutoTrade.FeedProvider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.FeedProvider/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade.Tests/bin/Debug/AutoTrade.Core.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Core.pdb
AutoTrade.Tests/bin/Debug/AutoTrade.Utils.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Utils.pdb
AutoTrade.Utils/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade.Utils/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Utils/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Utils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Utils/obj/Debug/AutoTrade.Utils.pdb
AutoTrade.Utils/obj/Debug/AutoTrade.Utils.dll
AutoTrade.Utils/obj/Debug/AutoTrade.Utils.csprojResolveAssemblyReference.cache
AutoTrade.Utils/obj/Debug/AutoTrade.Utils.csproj.FileListAbsolute.txt
AutoTrade.Utils/bin/Debug/AutoTrade.Utils.pdb
AutoTrade.Utils/bin/Debug/AutoTrade.Utils.dll
AutoTrade.Csv.FeedProvider/bin/Debug/AutoTrade.Core.dll
AutoTrade.Csv.FeedProvider/bin/Debug/AutoTrade.Core.pdb
AutoTrade.Csv.FeedProvider/bin/Debug/AutoTrade.Csv.FeedProvider.dll
AutoTrade.Csv.FeedProvider/bin/Debug/AutoTrade.Csv.FeedProvider.pdb
AutoTrade.Csv.FeedProvider/bin/Debug/AutoTrade.Utils.dll
AutoTrade.Csv.FeedProvider/bin/Debug/AutoTrade.Utils.pdb
AutoTrade.Csv.FeedProvider/obj/Debug/AutoTrade.Csv.FeedProvider.dll
AutoTrade.Csv.FeedProvider/obj/Debug/AutoTrade.Csv.FeedProvider.pdb
AutoTrade.Csv.FeedProvider/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Csv.FeedProvider/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Csv.FeedProvider/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade.Csv.FeedSource/bin/Debug/AutoTrade.Core.dll
AutoTrade.Csv.FeedSource/bin/Debug/AutoTrade.Core.pdb
AutoTrade.Csv.FeedSource/bin/Debug/AutoTrade.Csv.FeedSource.dll
AutoTrade.Csv.FeedSource/bin/Debug/AutoTrade.Csv.FeedSource.pdb
AutoTrade.Csv.FeedSource/obj/Debug/AutoTrade.Csv.FeedSource.dll
AutoTrade.Csv.FeedSource/obj/Debug/AutoTrade.Csv.FeedSource.pdb
AutoTrade.Csv.FeedSource/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Csv.FeedSource/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Csv.FeedSource/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade.Tests/bin/Debug/AutoTrade.Csv.FeedProvider.dll
AutoTrade.Tests/bin/Debug/AutoTrade.Csv.FeedProvider.pdb
AutoTrade.FeedProvider/obj/Debug/build.force
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.Csv.FeedSource/obj/Debug/AutoTrade.Csv.FeedSource.csproj.FileListAbsolute.txt
AutoTrade.Csv.FeedSource/obj/Debug/AutoTrade.Csv.FeedSource.csprojResolveAssemblyReference.cache
AutoTrade.Csv.FeedSource/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.Csv.FeedProvider/obj/Debug/AutoTrade.Csv.FeedProvider.csproj.FileListAbsolute.txt
AutoTrade.Csv.FeedProvider/obj/Debug/AutoTrade.Csv.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.Csv.FeedProvider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Csv.FeedIterator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AutoTrade.Csv.FeedIterator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AutoTrade.Csv.FeedIterator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AutoTrade.Csv.FeedIterator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.Core/bin/Debug/AutoTrade.Utils.dll
AutoTrade.Core/bin/Debug/AutoTrade.Utils.pdb
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
AutoTrade.FeedProvider/obj/Debug/AutoTrade.FeedProvider.csprojResolveAssemblyReference.cache
